@import url("reset.css");

body {
   background-color: #5ebf1d5f;
}

.header {
   padding-top: 20px;
   margin-bottom: 20px;
}

.header-title {
   text-align: center;
   font-size: 50px;
   font-weight: 700;
   line-height: 1.4;
	color: #4d4394f9;
}

.main {
   max-width: 1100px;
   margin: 0 auto 20px;
}

.main > *:not(:last-child) {
   margin-bottom: 40px;
}

/* ICON */
.icon {
   padding: 20px;
   box-shadow: 6px 6px 6px 6px #2e357874, -6px 6px 6px 6px #2e357874;
}

.icon-title {
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   line-height: 1.4;
	color: #1218d396;
}

.icon-title:not(:last-child) {
   margin-bottom: 25px;
}

.icon-icons img {
   width: 150px;
   margin-right: 20px;
   margin-bottom: 20px;
}

.content-imgs > *:not(:last-child) {
   margin-bottom: 20px;
}

.content-imgs img {
   width: 100%;
}

.footer {
	text-align: center;
	padding-bottom: 20px;
}
.footer-link {
	padding: 10px 25px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: #19baa854;
	box-shadow: 2px 2px 2px 2px #2e357874;
}

.footer-link:hover {
	background-color: #b1e30cb1;
	box-shadow: 2px 2px 2px 2px #4d8f35f0;
}
