@import url("fonts.css");
@import url("reset.css");
@import url("common.css");

.wrapper {
   display: flex;
   flex-direction: column;
   overflow: clip;
   min-height: 100%;
}

.wrapper > main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1270px;
   padding: 0 15px;
   margin: 0 auto;
}

.header {
   background-color: #fff;
   position: sticky;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}

.header__container {
   min-height: 108px;
   padding-top: 5px;
   padding-bottom: 5px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px; /* 88/1240 */
}

.header__logo {
   position: relative;
   z-index: 4;
}

.logo {
   aspect-ratio: 91 / 45;
   transition: transform 0.3s;
}

.logo img {
   width: 100%;
   height: 100%;
}

@media (any-hover: hover) {
   .logo:hover {
      transform: scale(1.04);
   }
}

.header__body {
   flex: 0 0 85.483871%; /* 1060/1240 */
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
}

.menu {
   color: #807d7e;
   font-family: "Causten";
   font-weight: 500;
}

.menu .menu__item--active {
   color: #3c4242;
   font-weight: 700;
}

.menu__list {
   display: flex;
   column-gap: 40px;
   row-gap: 10px;
   flex-wrap: wrap;
}

.menu__link {
   font-size: 22px;
   line-height: 1.18;
}

@media (any-hover: hover) {
   .menu__link:hover {
      text-decoration: underline;
   }

   .menu__item--active .menu__link:hover {
      text-decoration: none;
   }
}

.header__form {
   max-width: 267px;
   position: relative;
}

.header__search {
   width: 100%;
   height: 44px;
   border-radius: 8px;
   padding: 0 20px 0 52px;
   background-color: rgba(246, 246, 246, 1);
   transition: box-shadow 0.3s;
}

@media (any-hover: hover) {
   .header__search:hover {
      box-shadow: 1px 1px 1px rgb(233, 207, 236);
   }
}

.header__search::placeholder {
   color: #807d7e;
   font-size: 16px;
   font-family: "Causten";
   line-height: 1.19;
}

.header__button {
   cursor: pointer;
   position: absolute;
   top: 50%;
   margin-top: -10px;
   left: 20px;
   background-color: transparent;
}

.header__button img {
   width: 20px;
   height: 20px;
}

.header__actions {
   position: relative;
   z-index: 4;
   display: flex;
   align-items: center;
   gap: 12px;
}

.actions-header__item {
   padding: 12px;
   border-radius: 8px;
   background-color: rgba(246, 246, 246, 1);
   transition: background-color 0.3s;
}

.actions-header__item img {
   width: 20px;
   height: 20px;
}

@media (any-hover: hover) {
   .actions-header__item:hover {
      background-color: rgb(233, 207, 236);
   }
}

.icon-menu {
   display: none;
}

@media (max-width: 1100px) {
   .header__body {
      flex-basis: auto;
   }

   .menu__list {
      column-gap: 20px;
   }
}

@media (max-width: 991px) {
   .header__container {
      min-height: 60px;
      padding-top: 10px;
      padding-bottom: 10px;
   }

   .header__body {
      flex-shrink: 1;
   }

   .menu__body::before {
      content: "";
      min-height: 60px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 100%;
      background-color: rgb(170, 134, 218);
      transition: left 0.3s;
   }

   .menu__body {
      background-color: rgb(170, 134, 218);
      color: #fff;
      font-weight: 700;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      left: 100%;
      padding: 75px 15px 30px;
      overflow: auto;
      transition: left 0.3s;
   }

   .menu__list {
      flex-direction: column;
      row-gap: 30px;
      text-align: right;
   }

   .menu__link {
      width: 100%;
      font-size: 35px;
      line-height: 1.3;
   }

   .menu .menu__item--active {
      color: #fff;
   }

   .menu-open .menu__body,
   .menu-open .menu__body::before {
      left: 0;
   }

   .icon-menu {
      background-color: transparent;
      width: 30px;
      display: block;
      flex: 0 0 30px;
      height: 18px;
      position: relative;
      z-index: 5;
   }

   .icon-menu::before,
   .icon-menu::after,
   .icon-menu span {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      background-color: #000;
      transition: all 0.3s;
   }

   .icon-menu::before {
      top: 0;
   }

   .icon-menu::after {
      bottom: 0;
   }

   .icon-menu span {
      top: 50%;
      margin-top: -1px;
   }

   .menu-open .icon-menu span {
      transform: scale(0);
   }

   .menu-open .icon-menu::before {
      top: 50%;
      transform: rotate(45deg);
      margin-top: -1px;
   }

   .menu-open .icon-menu::after {
      bottom: 50%;
      transform: rotate(-45deg);
      margin-bottom: -1px;
   }

   .menu-open body {
      overflow: hidden;
   }
}

@media (max-width: 546px) {
   .header__search {
      display: none;
   }

   .header__body {
      column-gap: 12px;
   }

   .menu {
      position: absolute;
   }

   .menu__body {
      gap: 12px;
   }

   .header__form {
      border-radius: 8px;
      background-color: rgba(246, 246, 246, 1);
   }

   .header__button {
      padding: 12px;
      position: relative;
      left: 0;
      top: 0;
      margin-top: 0;
   }
}

@media (max-width: 400px) {
   .header__container {
      gap: 10px;
   }

   .logo {
      width: 85px;
      transform: scale(0.8);
   }

   .header__actions {
      gap: 10px;
   }

   .header__form {
      display: none;
   }
}

/* Page */
.page__section:not(:last-child) {
   margin-bottom: 100px;
}

/* Representation block */
.representation {
   font-family: "Core Sans C";
   color: #fff;
}

.representation__container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
}

.representation__item {
   position: relative;
   width: 100%;
   height: 100%;
}

.representation__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   z-index: 5;
   padding: 60px 28px;
   height: 100%;
}

.representation__lable {
   font-size: 18px;
   font-family: "Montserrat";
   font-weight: 800;
   line-height: 1.67;
   letter-spacing: 0.25px;
}

.representation__lable:not(:last-child) {
   margin-bottom: 24px;
}

.representation__title {
   font-size: 34px;
   font-weight: 800;
   line-height: 1.32;
}

@media (max-width: 1180px) {
   .representation__title {
      font-size: 28px;
   }
}

@media (any-hover: hover) {
   .representation__title:hover {
      text-decoration: underline;
   }
}

.representation__title:not(:last-child) {
   margin-bottom: 9px;
}

.representation__text {
   font-size: 16px;
   font-weight: 500;
   line-height: 1.57;
   letter-spacing: 0.25px;
}

.representation__text:not(:last-child) {
   margin-bottom: 41px;
}

.representation__link {
   cursor: pointer;
   font-size: 20px;
   font-weight: 800;
   text-decoration: underline;
   line-height: 1.51;
   transition: color 0.3s;
}

.representation__link:not(:last-child) {
   margin-bottom: 15px;
}

@media (any-hover: hover) {
   .representation__link:hover {
      color: #b4bfff;
   }
}

.representation__img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.representation__img img {
   border-radius: 18px;
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: top;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1180px) {
   .representation__title {
      font-size: 28px;
   }
}

@media (max-width: 1090px) {
   .representation__container {
      grid-template-columns: auto;
   }

   .representation__content {
      padding-top: 75px;
      padding-bottom: 75px;
   }

   .representation__title {
      font-size: 34px;
   }
}

@media (max-width: 757px) {
   .representation__container {
      gap: 15px;
   }

   .representation__content {
      padding-top: 50px;
      padding-bottom: 50px;
   }

   .representation__lable:not(:last-child) {
      margin-bottom: 15px;
   }

   .representation__text:not(:last-child) {
      margin-bottom: 15px;
   }
}

@media (max-width: 515px) {
   .representation__lable:not(:last-child) {
      margin-bottom: 10px;
   }

   .representation__title {
      font-size: 25px;
   }
}

@media (max-width: 400px) {
   .representation__container {
      margin: 0 -15px;
   }
}

/* New arival */
.new-arival__title:not(:last-child) {
   margin-bottom: 70px;
}

.new-arival__content {
   position: relative;
}

.new-arival__button {
   cursor: pointer;
   width: 14px;
   height: 13px;
   background: url("../img/new-arival/arrow.svg") 0 0 no-repeat;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}

.new-arival__button--left {
   left: 0;
   transition: transform 0.3s;
}

@media (any-hover: hover) {
   .new-arival__button--left:hover {
      transform: translateY(-50%) scale(1.1);
   }
}

.new-arival__button--right {
   right: 0;
   transform: translateY(-50%) rotate(180deg);
}

@media (any-hover: hover) {
   .new-arival__button--right:hover {
      transform: translateY(-50%) scale(1.1) rotate(180deg);
   }
}

.new-arival__cards {
   max-width: 1166px;
   margin: 0 37px;
}

.cards-new {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
   column-gap: 38px;
   row-gap: 38px;
}

.cards-new__item {
   overflow: hidden;
   transition: transform 0.3s;
}

@media (any-hover: hover) {
   .cards-new__item:hover {
      transform: scale(1.01);
   }
}

.cards-new__img {
   display: inline-block;
   position: relative;
   aspect-ratio: 262 / 262;
   border-radius: 12px;
   width: 100%;
}

.cards-new__img:not(:last-child) {
   margin-bottom: 32px;
}

.cards-new__title {
   color: #3c4242;
   font-size: 20px;
   font-family: Causten;
   font-weight: 700;
   letter-spacing: 0.2px;
   line-height: 1.2;
}

@media (max-width: 991px) {
   .page__section:not(:last-child) {
      margin-bottom: 70px;
   }

   .new-arival__title:not(:last-child) {
      margin-bottom: 40px;
   }

   .new-arival__cards {
      max-width: 100%;
      margin: 0;
   }

   .new-arival__button {
      display: none;
   }

   .cards-new {
      column-gap: 20px;
      row-gap: 30px;
   }

   .cards-new__img:not(:last-child) {
      margin-bottom: 20px;
   }
}

@media (max-width: 757px) {
   .page__section:not(:last-child) {
      margin-bottom: 50px;
   }

   .new-arival__title:not(:last-child) {
      margin-bottom: 30px;
   }

   .cards-new__img:not(:last-child) {
      margin-bottom: 15px;
   }
}

@media (max-width: 570px) {
   .cards-new__img:not(:last-child) {
      margin-bottom: 10px;
   }
}

/* Saving zone */
.saving-zone__title:not(:last-child) {
   margin-bottom: 70px;
}

.body-saving {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 20px;
}

.body-saving__item {
   min-height: 393px;
   color: #3c4242;
   padding: 34px 20px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.body-saving__item:nth-child(1) {
   grid-column: 1 / 3;
}

.body-saving__item:nth-child(2) {
   grid-column: 3 / 5;
}

.body-saving__item:nth-child(3) {
   grid-column: 5 / 7;
}

.body-saving__item:nth-child(n + 4) {
   grid-column: 1 / 4;
}

.body-saving__item:nth-child(2n + 5) {
   grid-column: 4 / 7;
}

.body-saving__content {
   max-width: 163px;
   position: relative;
   z-index: 5;
   font-family: "Causten";
   display: flex;
   flex-direction: column;
}

.body-saving__content--right {
   align-items: flex-end;
}

.body-saving__content--right .body-saving__bottom {
   align-self: flex-end;
}

.body-saving__item--left {
   justify-content: flex-start;
}

.body-saving__item--white {
   color: #fff;
}

.body-saving__item--big.body-saving__item {
   padding-right: 56px;
}

.body-saving__item--left .body-saving__content {
   text-align: left;
}

.body-saving__button:not(:last-child) {
   margin-bottom: 28px;
}

.body-saving__title {
   max-width: 163px;
   font-size: 32px;
   font-family: "Core Sans C";
   font-weight: 600;
   line-height: 1.37;
   letter-spacing: 0.56px;
}

.body-saving__title:not(:last-child) {
   margin-bottom: 9px;
}

.body-saving__text {
   font-size: 14px;
   font-weight: 600;
   line-height: 1.21;
}

.body-saving__text:not(:last-child) {
   margin-bottom: 9px;
}

.body-saving__sale {
   font-size: 18px;
   line-height: 1.22;
   font-weight: 700;
}

.body-saving__sale:hover {
   text-decoration: underline;
}

.body-saving__sale:not(:last-child) {
   margin-bottom: 30px;
}

.body-saving__bottom {
   align-self: flex-start;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.body-saving__down,
.body-saving__content--dark .body-saving__down {
   align-self: center;
   width: 23px;
   height: 27px;
   transition: transform 0.3s;
}

.body-saving__down {
   background: url("../img/saving-zone/arrow.svg") 0 0 / 100% 100% no-repeat;
}

.body-saving__content--dark .body-saving__down {
   background: url("../img/saving-zone/arrow-dark.svg") 0 0 / 100% 100%
      no-repeat;
   transition: transform 0.3s;
}

@media (any-hover: hover) {
   .body-saving__down:hover {
      transform: rotateY(180deg);
   }
}

.body-saving__down:not(:last-child) {
   margin-bottom: 40px;
}

.body-saving__img {
   border-radius: 12px;
   overflow: hidden;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.body-saving__img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;
   transition: transform 0.3s;
}

@media (any-hover: hover) {
   .body-saving__img img:hover {
      transform: scale(1.01);
   }
}

@media (max-width: 1100px) {
   .saving-zone__title:not(:last-child) {
      margin-bottom: 40px;
   }

   .body-saving {
      grid-template-columns: repeat(2, 1fr);
   }

   .body-saving__item:nth-child(odd) {
      grid-column: 1 / 2;
   }
   .body-saving__item:nth-child(even) {
      grid-column: 2 / 3;
   }

   .body-saving__item--big.body-saving__item {
      padding-right: 28px;
   }
}

@media (max-width: 800px) {
   .saving-zone__title:not(:last-child) {
      margin-bottom: 30px;
   }

   .body-saving {
      display: block;
   }

   .body-saving > *:not(:last-child) {
      margin-bottom: 20px;
   }

   .body-saving__title {
      font-size: 25px;
   }

   .body-saving__sale:not(:last-child) {
      margin-bottom: 20px;
   }

   .body-saving__down:not(:last-child) {
      margin-bottom: 25px;
   }
}

@media (max-width: 460px) {
   .body-saving__item {
      padding: 20px 10px;
      min-height: 350px;
   }

   .body-saving__item--big.body-saving__item {
      padding-right: 10px;
   }

   .body-saving__title {
      font-size: 23px;
   }
}
