@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500&display=swap");
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/core_sans_c/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/core_sans_c/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/core_sans_c/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/core_sans_c/CoreSansC-65Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/core_sans_c/CoreSansC-75ExtraBold.woff2") format("woff2"), url("../fonts/core_sans_c/CoreSansC-75ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Light.woff2") format("woff2"), url("../fonts/causten/Causten-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Regular.woff2") format("woff2"), url("../fonts/causten/Causten-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Medium.woff2") format("woff2"), url("../fonts/causten/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/causten/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Bold.woff2") format("woff2"), url("../fonts/causten/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button {
  display: inline-block;
  padding: 1rem 4.5rem;
  font-family: "Causten";
  color: #3c4242;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  border-radius: 0.5rem;
  background-color: #fff;
}
@media (max-width: 47.99875em) {
  .button {
    padding: 0.625rem 2.8125rem;
  }
}

body {
  font-family: "Causten";
  color: #fff;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  min-height: 6.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 79.375em) {
  .header__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports ((-moz-column-gap: clamp( 0.5rem , 0.2473684211rem  +  1.2631578947vw , 1.25rem )) or (column-gap: clamp( 0.5rem , 0.2473684211rem  +  1.2631578947vw , 1.25rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 0.5rem , 0.2473684211rem  +  1.2631578947vw , 1.25rem );
         -moz-column-gap: clamp( 0.5rem , 0.2473684211rem  +  1.2631578947vw , 1.25rem );
              column-gap: clamp( 0.5rem , 0.2473684211rem  +  1.2631578947vw , 1.25rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.5rem , 0.2473684211rem  +  1.2631578947vw , 1.25rem )) or (column-gap: clamp( 0.5rem , 0.2473684211rem  +  1.2631578947vw , 1.25rem ))) {
    .header__container {
      -webkit-column-gap: calc(0.5rem + 0.75 * (100vw - 20rem) / 59.375);
         -moz-column-gap: calc(0.5rem + 0.75 * (100vw - 20rem) / 59.375);
              column-gap: calc(0.5rem + 0.75 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .header__container {
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
  }
}
@media (max-width: 61.99875em) {
  .header__container {
    min-height: 4.375rem;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
  max-width: 5.6875rem;
  min-width: 4.375rem;
}
.header__logo img {
  width: 100%;
}

@media (max-width: 61.99875em) {
  .menu {
    position: absolute;
  }
}
@media (max-width: 61.99875em) {
  .menu__body {
    background-color: #088bcc;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    padding: 5.625rem 0.9375rem 3.125rem;
    overflow: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    background-color: #4cb6eb;
    border-bottom: 0.125rem solid #fff;
    height: 4.375rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 2;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.5rem;
}
@media (min-width: 79.375em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (min-width: 61.875em) and (max-width: 79.375em) {
  @supports ((-moz-column-gap: clamp( 0.9375rem , -4.5870535714rem  +  8.9285714286vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -4.5870535714rem  +  8.9285714286vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -4.5870535714rem  +  8.9285714286vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , -4.5870535714rem  +  8.9285714286vw , 2.5rem );
              column-gap: clamp( 0.9375rem , -4.5870535714rem  +  8.9285714286vw , 2.5rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.9375rem , -4.5870535714rem  +  8.9285714286vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -4.5870535714rem  +  8.9285714286vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 61.875rem) / 17.5);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 61.875rem) / 17.5);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 61.875rem) / 17.5);
    }
  }
}
@media (max-width: 61.875em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 61.99875em) {
  .menu__item {
    width: 100%;
    text-align: center;
  }
}
.menu__item--active .menu__link {
  color: #3c4242;
  font-weight: 700;
}
@media (any-hover: hover) {
  .menu__item--active .menu__link:hover {
    text-decoration: none;
  }
}
@media (max-width: 61.99875em) {
  .menu__item--active .menu__link {
    color: #fff;
    font-weight: 500;
  }
}
.menu__link {
  color: #807d7e;
  font-size: 1.375rem;
  line-height: 1.18;
  font-weight: 500;
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 61.99875em) {
  .menu__link {
    color: #fff;
    font-size: 2.1875rem;
    width: 100%;
  }
}

.search-header {
  display: none;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6875rem;
          flex: 0 1 16.6875rem;
}
@media (min-width: 31.25em) {
  .search-header {
    display: inline-block;
  }
}
.search-header__item {
  padding: 0 1.25rem 0 3.25rem;
  height: 2.75rem;
  width: 100%;
  background-color: rgb(246, 246, 246);
  border-radius: 0.5rem;
}
.search-header__item:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.search-header__item:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.search-header__item:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.search-header__item:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.search-header__item:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.search-header__item::-webkit-input-placeholder {
  color: #807d7e;
  font-size: 1rem;
  line-height: 1.19;
}
.search-header__item::-moz-placeholder {
  color: #807d7e;
  font-size: 1rem;
  line-height: 1.19;
}
.search-header__item:-ms-input-placeholder {
  color: #807d7e;
  font-size: 1rem;
  line-height: 1.19;
}
.search-header__item::-ms-input-placeholder {
  color: #807d7e;
  font-size: 1rem;
  line-height: 1.19;
}
.search-header__item::placeholder {
  color: #807d7e;
  font-size: 1rem;
  line-height: 1.19;
}
.search-header__button {
  width: 1.25rem;
  height: 1.25rem;
  background: url("../img/header/search.svg") 0 0 no-repeat;
  position: absolute;
  top: 50%;
  left: 1.25rem;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.actions-header {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 79.375em) {
  .actions-header {
    gap: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (gap: clamp( 0.5rem , 0.4157894737rem  +  0.4210526316vw , 0.75rem )) {
    .actions-header {
      gap: clamp( 0.5rem , 0.4157894737rem  +  0.4210526316vw , 0.75rem );
    }
  }
  @supports not (gap: clamp( 0.5rem , 0.4157894737rem  +  0.4210526316vw , 0.75rem )) {
    .actions-header {
      gap: calc(0.5rem + 0.25 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .actions-header {
    gap: 0.5rem;
  }
}
.actions-header__item {
  padding: 0.75rem;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.actions-header__item img {
  width: 1.25rem;
  height: 1.25rem;
}
@media (any-hover: hover) {
  .actions-header__item:hover {
    background-color: #e5e5e5;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    background-color: #f6f6f6;
    border-radius: 0.5rem;
    width: 2.75rem;
    height: 2.75rem;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.75rem;
            flex: 0 0 2.75rem;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before, .icon-menu::after, .icon-menu span {
    content: "";
    height: 0.125rem;
    width: 1.25rem;
    position: absolute;
    left: 0.75rem;
    background-color: #807d7e;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu::before {
    top: 0.75rem;
  }
  .icon-menu::after {
    bottom: 0.75rem;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -0.0625rem;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    top: 50%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -0.0625rem;
  }
  .menu-open .icon-menu::after {
    bottom: 50%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: -0.0625rem;
  }
}

.menu-open .menu__body, .menu-open .menu__body::before {
  left: 0;
}
.menu-open body {
  overflow: hidden;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@media (max-width: 61.99875em) {
  .hero__img::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(11, 10, 10, 0.291);
    z-index: 5;
  }
}
.hero__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  position: relative;
}
@media (max-width: 61.99875em) {
  .hero__img img {
    -o-object-position: top right;
       object-position: top right;
  }
}
.hero__container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  width: 100%;
}
.hero__body {
  font-family: "Core Sans C";
  font-weight: 500;
  letter-spacing: 0.0196875rem;
  position: relative;
  z-index: 5;
}
@media (min-width: 79.375em) {
  .hero__body {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 1.5625rem , 1.4151315789rem  +  0.7368421053vw , 2rem )) {
    .hero__body {
      font-size: clamp( 1.5625rem , 1.4151315789rem  +  0.7368421053vw , 2rem );
    }
  }
  @supports not (font-size: clamp( 1.5625rem , 1.4151315789rem  +  0.7368421053vw , 2rem )) {
    .hero__body {
      font-size: calc(1.5625rem + 0.4375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__body {
    font-size: 1.5625rem;
  }
}
@media (min-width: 79.375em) {
  .hero__body > *:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem )) {
    .hero__body > *:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem )) {
    .hero__body > *:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__body > *:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 61.99875em) {
  .hero__body {
    max-width: 32.9375rem;
    padding-left: 5.4375rem;
  }
}
.hero__lable {
  line-height: 1.18;
  letter-spacing: 0.0098125rem;
  text-transform: capitalize;
}
.hero__title {
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 79.375em) {
  .hero__title {
    font-size: 4.875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 2.5rem , 1.7rem  +  4vw , 4.875rem )) {
    .hero__title {
      font-size: clamp( 2.5rem , 1.7rem  +  4vw , 4.875rem );
    }
  }
  @supports not (font-size: clamp( 2.5rem , 1.7rem  +  4vw , 4.875rem )) {
    .hero__title {
      font-size: calc(2.5rem + 2.375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 2.5rem;
  }
}
.hero__info {
  line-height: 1.47;
}