.button {
   min-width: toRem(185);

   padding: toRem(22) toRem(15);
   text-align: center;
   color: $mainColor;
   font-size: toRem(18);
   font-weight: 600;
   line-height: 1.22;
   text-transform: capitalize;
   background-color: $colorViolet;
   transition: all 0.3s;

   @media (any-hover: hover) {
      &:hover {
         background-color: $colorGreen;
         color: $colorDark;
      }
   }

   @media (max-width: toEm($tablet)) {
      min-width: toRem(160);
      padding: toRem(15) toRem(5);
      font-size: toRem(16);
      border-radius: toRem(5);
   }

   &--color-dark {
      color: $colorDark;
   }

   &--bg-green {
      background-color: $colorGreen;
      color: $mainColor;
      transition: all 0.3s;

      @media (any-hover: hover) {
         &:hover {
            background-color: $colorViolet;
            color: $mainColor;
         }
      }
   }
}

.block-header {
   color: #000;

   &--big {
      color: $mainColor;

      .block-header__lable {
         font-weight: 600;
         line-height: 1.44;

         &::before {
            transform: translate(0, toRem(6));
         }

         &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 16, 8);
         }
      }

      .block-header__title {
         @include adaptiveValue("font-size", 60, 34);
         line-height: 1.1;

         a {
            color: $colorGreen;
            transition: color 0.3s;

            @media (any-hover: hover) {
               &:hover {
                  color: $colorViolet;
               }
            }
         }
      }

      .block-header__text {
         color: #b9b9b9;
      }
   }

   &--center {
      margin: 0 auto;
      text-align: center;

      .block-header__lable {
         justify-content: center;
      }
   }

   // .block-header__lable
   &__lable {
      @include adaptiveValue("font-size", 18, 16);
      font-weight: 500;
      line-height: 1.22;
      text-transform: capitalize;
      display: flex;
      align-items: flex-start;
      gap: toRem(7);

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 10, 7);
      }

      &::before {
         content: "";
         flex: 0 0 toRem(12);
         width: toRem(12);
         height: toRem(12);
         background-color: $colorGreen;
         transform: translate(0, toRem(5));
      }
   }

   // .block-header__title
   &__title {
      font-family: "Poppins";
      @include adaptiveValue("font-size", 40, 30);
      text-transform: capitalize;
      font-weight: 700;
      line-height: 1.2;

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 20, 10);
      }
   }

   // .block-header__text
   &__text {
      color: $colorGray;
      font-size: toRem(18);
      font-weight: 500;
      line-height: 1.44;

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 16, 8);
      }

      p {
         &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 15, 8);
         }
      }
   }
}
